<div class="row container-style">

  <gwdsimplepie class="col-12 col-sm-4 col-md-4 fwosimplepie-style" pieID="pie1" pieTitle="Blocked IP Address" nTotal="{{nTotal}}"
    nValue="{{nBlocked}}"></gwdsimplepie>
  <gwdsimplepie class="col-12 col-sm-4 col-md-4 fwosimplepie-style" pieID="pie2" pieTitle="Allowed IP Address" nTotal="{{nTotal}}"
    nValue="{{nAllowedIP}}"></gwdsimplepie>
  <gwdsimplepie class="col-12 col-sm-4 col-md-4 fwosimplepie-style" pieID="pie3" pieTitle="Forwarded IP Address" nTotal="{{nTotal}}"
    nValue="{{nForwardedIP}}"></gwdsimplepie>
  <!--
      <div style="margin-top:10px;height:100%"></div>
  </div>
      <div style="margin-top:5px;height:100%;justify-content: space-between"></div>
    </div>
     <h5 style="text-align: center;margin-top:10px; height:20px;">Firewwall Policies Activated</h5>
    <div style="height:50%;">
      <div style="height:40px;margin-left:10px;">
        <ul class="nav nav-pills" style="font-size:9pt">
          <li *ngIf="nSelectTab==0" class="active"><a (click)="onTabSelect(0)">Week</a></li>
          <li *ngIf="nSelectTab!=0"><a (click)="onTabSelect(0)">Week</a></li>
          <li *ngIf="nSelectTab==1" class="active"><a (click)="onTabSelect(1)">Month</a></li>
          <li *ngIf="nSelectTab!=1"><a (click)="onTabSelect(1)">Month</a></li>
          <li *ngIf="nSelectTab==2" class="active"><a (click)="onTabSelect(2)">Year</a></li>
          <li *ngIf="nSelectTab!=2"><a (click)="onTabSelect(2)">Year</a></li>
        </ul>
      </div>
      <div class="row" style="width:95%;height:calc(100% - 80px);">
        <div id="linechart_firewall" style="width:100%;"></div>
      </div>
    </div>
  -->

</div>